[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pushover = {git = "https://github.com/Wyattjoh/pushover"}
websocket-client = "*"
karelia = {git = "https://github.com/pouncysilverkitten/karelia"}
numpy = "*"
matplotlib = "*"
pyimgur = "*"
coverage = "*"
coverage-badge = "*"
unittest-xml-reporting = "*"
idna = "*"
urlextract = "*"


[dev-packages]

