[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pushover = {git = "https://github.com/Wyattjoh/pushover"}
websocket-client = "*"
numpy = "*"
matplotlib = "*"
pyimgur = "*"
coverage = "*"
coverage-badge = "*"
unittest-xml-reporting = "*"
idna = "*"
urlextract = "*"
"unittest2" = "*"
pylint-badge = {git = "https://github.com/pouncysilverkitten/pylint-badge"}
requests = "*"
aylien-apiclient = "*"
yggdrasil = {git = "https://github.com/pouncysilverkitten/karelia"}
karelia = {git = "https://github.com/pouncysilverkitten/karelia"}
pygount = "*"

[dev-packages]
